*{
    padding: 0; 
}

.p1{
    font-family: 'Island Moments', cursive;
    font-size: 50px;
}

.p2{
    font-family: 'Island Moments', cursive;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 70px;
    font-weight: bolder;
}